.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.graph-container {
    margin: 1em;
}

.graph {
    margin: 1em 0;
}
